.panel {
  flex-shrink: 0; // to scroll
  height: max(100vh, 100%);
  width: max(100vw, 100%);
  min-height: max(100vh, 100%);
  min-width: max(100vw, 100%);
}

.title {
  font-size: 10rem;
  line-height: 100%;
}

// don't need bodoni big because default is like 80 or something
.bodoni-small {
  font-variation-settings: "opsz" 10;
}

.bodoni-medium {
  font-variation-settings: "opsz" 30;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
