.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

.title {
  font-size: 10rem;
  line-height: 100%;
}

// don't need bodoni big because default is like 80 or something
.bodoni-small {
  font-variation-settings: "opsz" 10;
}

.bodoni-medium {
  font-variation-settings: "opsz" 30;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
