@import "tailwindcss";
@import "tailwind-scrollbar-hide/v4";

@config "../tailwind.config.mjs";

@theme {
  --color-background: rgb(240, 240, 240);
  /* --color-primary: rgb(221, 65, 36); */
  --color-primary: rgb(136, 176, 75);
  --color-primary-light: rgb(176, 206, 105);
  --color-mexico-primary: rgb(15, 76, 129);
  /* --color-japan-primary: rgb(95, 101, 60); */
  --color-japan-primary: rgb(110, 130, 60);
  --color-canada-primary: rgb(25, 101, 82);
}
