@use "@/variables.scss" as *;

.page {
  position: relative;
  min-height: 100vh;
  padding-top: $header-height;
  background: white;

  h1 {
    position: absolute;
    bottom: 4rem;
    left: 2rem;
    font-weight: lighter;
  }
}

/* Mobile responsiveness */
@media (max-width: 768px) {
}

@media (max-width: 480px) {
}
