@use "@/variables.scss" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: $header-height;
  background: transparent;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
}

/* Small mobile devices */
@media (max-width: 480px) {
}
