@font-face {
  font-family: "Bodoni";
  src: url("/assets/fonts/BodoniModa-VF.woff2") format("woff2");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "TSM";
  src: url("/assets/fonts/TsukuhouShogoMin-OFL.ttf") format("truetype");
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Source Han";
  src: url("/assets/fonts/SourceHanSerifCN-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "Source Han";
  src: url("/assets/fonts/SourceHanSerifCN-Medium.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Source Han";
  src: url("/assets/fonts/SourceHanSerifCN-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
